{% extends 'food/base.html' %}

<!-- load for django-->
{% load static %}

{% block content %}

<header class="page-section" id="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-white font-weight-light mb-5">Mentions Légales</h2>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="text-center">
        <h3>Hébergeur</h3>
        <hr class="divider my-1" />
        <p>Le nom de l'hébergeur est <a href="https://www.heroku.com/">Heroku</a> : 415 Mission Street
            Suite 300 San Francisco, CA 94105. pr@salesforce.com. 1-800-960-3691.</p>

        <h3>Source</h3>
        <hr class="divider my-1" />
        <h4>Base de donnée</h4>
        <p>La base de donnée a été constituée avec <a href="https://fr.openfoodfacts.org/">OpenFoodFacts</a></p>
        <h4>Template</h4>
        <p>Le template utilisé est <a href="https://startbootstrap.com/theme/creative">creative</a> de bootstrap</p>
        <h4>Photos</h4>
        <p>Les photos viennent de <a href="https://unsplash.com/">unsplash</a></p>
        <h4>Icônes</h4>
        <p>Les icônes sont avec <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2">fontawesome</a> et <a href="http://www.favicon-generator.org/
">favicon-generator</a></p>





    </div>
</section>

{% endblock %}