{% extends 'food/base.html' %}

<!-- load for django-->
{% load static %}

{% block content %}

<header class="page-section" id="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-white font-weight-light mb-5">Résultat de la recherche du substitut</h2>
                <p class="text-white"> {{ product.name }}</p>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="text-center">
        <p>Vous pouvez remplacer votre aliment par :</p>
    </div>
    <div class="container">
         <div class="row">
             {% for r in result %}
             <div class="col-lg-4 col-md-12 text-center">
                 <div class="mt-5 position-relative">
                     <a href="{% url 'product' id=r.id %}" >
                         {% if r.nutrition_grade_fr == "a" %}
                            <img class="img-fluid" src="{% static 'food/assets/img/nutri_ico/nutri_A.png' %}" alt="nutriscore_A" id="nutriscore"/>
                         {% elif r.nutrition_grade_fr == "b" %}
                            <img class="img-fluid" src="{% static 'food/assets/img/nutri_ico/nutri_B.png' %}" alt="nutriscore_B" id="nutriscore"/>
                         {% elif r.nutrition_grade_fr == "c" %}
                            <img class="img-fluid" src="{% static 'food/assets/img/nutri_ico/nutri_C.png' %}" alt="nutriscore_C" id="nutriscore"/>
                         {% elif r.nutrition_grade_fr == "d" %}
                            <img class="img-fluid" src="{% static 'food/assets/img/nutri_ico/nutri_D.png' %}" alt="nutriscore_D" id="nutriscore"/>
                         {% elif r.nutrition_grade_fr == "e" %}
                            <img class="img-fluid" src="{% static 'food/assets/img/nutri_ico/nutri_E.png' %}" alt="nutriscore_E" id="nutriscore"/>
                         {% elif r.nutrition_grade_fr == "Non applicable" %}
                            <p>Nutri-score Non applicable</p>
                         {% endif %}


                         <img src="{{ r.image_front_small_url }}">
                         <p>{{ r.name }}</p>
                     </a>
                    <a href="{% url 'my_product' id=r.id %}" >
                        <i class="fas fa-save"></i> Sauvegarder
                    </a>

                 </div>
             </div>

             {% endfor %}

        </div>

        <div class="text-center pt-5">

                  {% if result.has_previous %}
                      <a href="?page={{ result.previous_page_number }}">Précédent</a>
                  {% endif %}
                  {% if result.has_next %}
                      <a href="?page={{ result.next_page_number }}">Suivant</a>
                  {% endif %}
        </div>

    </div>

</section>




{% endblock %}